@{
    ViewBag.Title = "About";
}
<h1>@ViewBag.Title</h1>
<h3>
    Project  Members:
</h3>
<h4>
   
<dd class="col-sm-5">Rajan Vaghela [UG201310039]<br>Kshitij Minoch [UG201310043]</dd>
</h4>
<br><br><br><br>
<p class="lead left">
 
    This is website about Artificial Intelligence Course Project, Twitter Sentiment Data Analysis.<br>
    Analysis is based on Two Class SVM implemented using Azure ML.<br>
    Project Report can be found <a href="~/App_Data/Report.pdf">here</a>

</p>